.inputBox{
    width: 80%;
    margin:auto;
}

.input-title{
    color: white;
    margin: auto;
}

.img-input{
    margin: auto;
    width: 80%;
}

.edit-header__left--img{
    max-width:300px;
    max-height: 300px;
    margin: auto;
}

.tombolUpdate{
    align-items: center;
}