# built in
PORT= now using default port 3000

# custom
REACT_APP_PORT = 
REACT_APP_FIREBASE_API_KEY=
REACT_APP_FIREBASE_AUTH_DOMAIN=
REACT_APP_FIREBASE_PROJECT_ID=
REACT_APP_FIREBASE_STORAGE_BUCKET=
REACT_APP_FIREBASE_MESSAGING_SENDER_id=
REACT_APP_FIREBASE_APP_ID=
REACT_APP_FIREBASE_DB_URL= 
REACT_APP_FORGOT_PASSWORD_REDIRECT = 
